<h3>Order <%= order.id %></h3>
<table>
  <tr>
    <th><%= button_to "destroy", order_path(order), method: :delete %></th>
    <th><%= button_to "unsafely ship all", order_bulk_shipments_path(order), data: {unsafe: "true"} %></th>
    <th><%= button_to "safely ship all", order_bulk_shipments_path(order), data: {safe: "true"} %></th>
  </tr>
</table>

<table>
  <tr>
    <th>Product Name</th>
    <th>Qty Shipped</th>
    <th>Status</th>
  </tr>

  <% order.purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.product.name %></td>
      <td><%= purchase.shipments.count %> / 1</td>
      <% unless purchase.shipments.any? %>
        <td><%= button_to "ship it", purchase_shipments_path(purchase) %></td>
      <% else %>
        <td>shipped</td>
      <% end %>
    </tr>
  <% end %>

</table>
